body{
  margin: 0;
  padding: 0;
  background-color: #89CFF0
}
.welcome{
  position: relative;
}
.welcome h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #bf5636;
  margin-bottom: 50px;
  padding: 13px 0;
}
.welcome a{
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  color: white;
  padding: 5px;
  margin: 12px 0;
}